    /*
	*Author: Nate Hascup & Patrick Callahan
	*Greenriver IT 328
	*Badgery layout.css
	*/


/* add css for margin fix -- this will not be needed after beta */

.card-deck .card {
    margin-left: 15px;
    margin-right: 15px;
}

.card-deck .card:not(:last-child) {
    margin-right: 15px;
}

.card-deck .card:not(:first-child) {
    margin-left: 15px;
}

.badge {
    width: 95px;
    height: 95px;
}

.card-img {
    width: 90px;
    height: 90px;
}

.little-badge {
    width: 80px;
    height: 80px;
}

.body {
    background-image: url("images/waterDroplet.jpg");
    background-repeat: repeat-y;
}

div.container-fullwidth {
    margin-top:60px;
}

#dropdown.dropdown.open {
position: absolute;
}

.dropdown-toggle::after {
    display:none
}

.caps {
    opacity: 0.5;
}

.caps:hover {
    opacity: 0.5;
}